<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses - Calicut University Campus</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/courses.css')}}">
</head>
<body>
    <div class="container">
        <h1>Courses Offered</h1>
        <p>Calicut University Campus offers a variety of undergraduate, postgraduate, and doctoral programs in multiple disciplines.</p>
        <ul>
            <li>Bachelor of Arts (BA)</li>
            <li>Bachelor of Science (BSc)</li>
            <li>Bachelor of Commerce (BCom)</li>
            <li>Master of Arts (MA)</li>
            <li>Master of Science (MSc)</li>
            <li>Master of Commerce (MCom)</li>
            <li>Doctoral Programs (PhD)</li>
        </ul>
    </div>
</body>
</html>
